
<nav class="py-2 bg-success border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">

        <form action="/extracttextfromimage" method="post" enctype="multipart/form-data" class="fileUpload nav-link link-dark px-2">
            <label for="file">Upload Image File:</label>
            <input type="file" name="file" accept="image/*" required id="">
            
            <button>Extract Text From Image</button>
        </form>
      </ul>
    </div>
  </nav>